<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Navbar</a>
        <a href="/login" class="nav-link text-info">Login
            <i class="fa-regular fa-user"></i>
        </a>
      </nav>
</header>